{{ name | capitalize }}
===========

Description
-----------

{{ meta.description }}

Requirements
-------------

### Ansible version

Minimum Ansible version : {{ meta.min_ansible_version }}

### Platforms

This role will work on the following platforms :

Distribution | Version |
--- | --- |
{%- for distribution in meta.platforms %}
{%- for version in distribution.versions %}
{{ distribution.name }} | {{ version }} |
{%- endfor %}
{%- endfor %}

Role Variables
--------------

Variable | Type | Mandatory |  Example | Description
--- | --- | --- | --- | --- |
{%- for item in default_tag %}
`{{ item.name }}`  | {{ item.type }} | {{ item.mandatory }} | {{ item.example }} | {{ item.description }} |
{%- endfor %}


Default Variables
------------------

Variable | value |
--- | --- |
{%- for item in default_value %}
{%- for key in item %}
| {{ key }} | {{ item[key]}} |
{%- endfor %}
{%- endfor %}

Author
-------

{{ meta.author }}