{{ name | capitalize }}
===========

Description
-----------

{{ meta.description }}

Requirements
-------------

### Ansible version

Minimum Ansible version : {{ meta.min_ansible_version }}

### Platforms

This role will work on the following platforms :

Distribution | Version |
--- | --- |
{%- for distribution in meta.platforms %}
{%- for version in distribution.versions %}
{{ distribution.name }} | {{ version }} |
{%- endfor %}
{%- endfor %}

Role Variables
--------------

Variable | Type | Mandatory |  Example | Description
--- | --- | --- | --- | --- |
{%- for item in default_tag %}
`{{ item.name }}`  | {{ item.type }} | {{ item.mandatory }} | {{ item.example }} | {{ item.description }} |
{%- endfor %}


Default Variables
------------------

Variable | Value | Description | Type 
--- | --- | --- | --- |

{%- for item in default_value.keys() %}
``{{ item }}`` | {{ default_value[ item ]['value'] }} | {{ default_value[ item ]['description'] | default('n/a')}} | {{ default_value[ item ]['type'] | default('n/a')}} |
{%- endfor %}

Author
-------

{{ meta.author }}